.col-1 {
  width: 25%;
}
.col-2 {
  width: 8%;
}
.col-3 {
  width: 12%;
}
.col-4 {
  width: 17.5%;
}
.col-5 {
  width: 11%;
}
.col-6 {
  width: 10%;
}
.col-7 {
  width: 10%;
}
.col-8 {
  width: 6.5%;
}
