.col-1 {
  width: 8%;
}
.col-2 {
  width: 10%;
}
.col-3 {
  width: 5%;
}
.col-4 {
  width: 5%;
}
.col-5 {
  width: 12%;
}
.col-6 {
  width: 32%;
}
.col-7 {
  width: 21.5%;
}
.col-8 {
  width: 6.5%;
}
