@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  font-family: 'Poppins', sans-serif;
}
html {
  font-size: 14px;
  @screen xl {
    font-size: 14px;
  }
  @screen 2xl {
    font-size: 16px;
  }
}
span,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-black1;
}
span,
a,
p,
button {
  @apply text-sm;
}

/* Track Scroll */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px transparent;
  border-radius: 10px;
  width: 5px;
}
::-webkit-scrollbar-thumb {
  @apply bg-primary;
  border-radius: 15px;
  visibility: hidden;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-primary;
  opacity: 0.7;
}

*:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

.table-body-card {
  margin-right: -1.5rem;
  padding-right: calc(1.5rem - 5px);
}

.content-wrapper {
  height: calc(100vh - 51px);
  overflow: hidden;
}
.input-readonly-copy-text {
  @apply bg-transparent border-none outline-none;
}

.font-size-inherit {
  font-size: inherit;
}